<main class="page__main">
    <section class="section__list--movies">
        
        <div class="search__shows full_screen">
            <h1>Encuentra todas tus series favoritas.</h1>
            <label for="search__movie"></label>
            <input type="text" id="search__movie" class="search__movie" name="search__movie">
            <button class="btn__search" id="btn__search" type="submit">Buscar</button>
        </div>

        <div class="show__list"><h2></h2>
        <ul class="show__shows"></ul>
    </div>
    </section>
    <button type="button" class="btn__close--fav1"><<<<<<</button>
    <button type="button" class="btn__close--fav2 hidden">>>>>>></button>
    <aside class="aside__fav--movies hidden">
        <h2 class="fav__movies--title">Mis series favoritas</h2>
        <button type="button" class="btn__remove--all">Eliminar todas</button>
        <ul class="section__fav--movies"></ul>
    </aside>
</main>
