<main class="page__main">
    <section class="section__list--movies">
        
        <div class="search__shows">
            <label for="search__movie">Busca tu serie o película:</label>
            <input type="text" id="search__movie" class="search__movie" name="search__movie" value="gir">
            <button class="btn__search" id="btn__search" type="submit">Buscar</button>
        </div>

        <div class="show__list"><h2>Shows</h2>
        <ul class="show__shows"></ul>
    </div>
    </section>

    <aside >
        <h2 class="fav__movies--title">Mis series favoritas</h2>
        <ul class="section__fav--movies"></ul>
    </aside>
</main>
