<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buscador de series</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <!-- <partial src="_header.html" label="Header"></partial> -->
      <partial src="_main.html" label="Main"></partial>
      <!-- <partial src="_footer.html" label="Footer"></partial> -->
    </div>


    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
