.page__header {
    font-family: $titleFont;
    font-size: 20px;
    height: 5vh;
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}