.page__main {
    font-family: $bodyFont;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .section__list--movies {
        width: 80vw;
        flex-grow: 2;
        order: 1;
        text-align: center;
            @include forMobile {
            width: 70vw;
            }

        .search__shows {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid red;
        }

        .search__movie {
            width: 300px;
            border: 1px solid palevioletred;
            margin: 15px;

            @include forMobile {
                width: 150px;
                }
    
        }

        .btn__search {
            border: 1px solid palevioletred;
        }

        .show__shows {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: scroll;
            height: 80vh;

            .show__list--item {
                width: 250px;
                height: 400px;
                padding: 10px;
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                background-color: yellow;
                cursor: pointer;

                img {
                    width: 210px;
                    height: 295px;
                    margin: auto;
                }

                .show__item--info {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
                    .fav__show--style {
                        width: 250px;
                        height: 400px;
                        padding: 10px;
                        margin: 10px 0;
                        display: flex;
                        flex-direction: column;
                        background-color: rgb(210, 158, 248);
                        cursor: pointer;

                        img {
                            width: 210px;
                            height: 295px;
                            margin: auto;
                        }

                        .show__item--info {
                            display: flex;
                            flex-direction: column;
                            font-size: 12px;
                            margin-top: 10px;
                        }
                    }
        }
    }
    
    aside {
        text-align: center;
        
        .fav__movies--title {
            padding: 20px 0;
        }
    
    
    .section__fav--movies {
        width: 20vw;
        height: 90vh;
        padding: 10px;
        order: 0;
        text-align: center;
        border-right: 1px dashed black;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: start;

        @include forMobile {
            width: 30vw;
            align-items: center;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            
                @include forTablet {
                flex-direction: column;
                }

            img {
            width: 100px;

                @include forMobile {
                    width: 50px;
                }
            }
        }
    }
}
}

.hidden {
    display: none;
}
